.app {
  max-height: 100vh;
  max-width: 100vw;
  transition: background-color 1s ease-in;
  background-color: #9CCEF4;
  font-family: "Raleway", sans-serif;
}

.app__header,
.app__main {
  max-width: 100%;
  background-color: #759EDA;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */
input{
  background-color: #759EDA;
  border: 0px solid;
  height: 20px;
  width: 160px;
}
input:focus {
  outline:none;
  border-bottom: 1px solid black;
  font-family: "Raleway", sans-serif;
}
input:focus::placeholder {
  color: transparent;
}
button{
  background-color: #486CB2;
  font-family: "Raleway", sans-serif;
  color: black;
  padding: 15px;
  border: none;
  width: 150px;
}
/* Current weather */
.main-component{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  justify-content: space-between;
}
ul, .images{
  list-style: none;
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.images{
  padding-left: 30px;
}
ol{
  list-style: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

h5{
  color: white;
  font-size: 20px;
  margin: 0;
}
h4{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* Mobile View */
@media only screen and (max-width: 600px){
  .images, ul, ol{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}